<h2>Realizar Pedido</h2>
<form method="POST" action="{% url 'realizar_pedido' %}">
  {% csrf_token %}

  <!-- Dirección de entrega -->
  <label for="id_direccion_entrega">Dirección de entrega:</label>
  <input type="text" name="direccion_entrega" id="id_direccion_entrega" required>

  <!-- Productos -->
  <label for="id_productos">Productos:</label>
  <select name="productos" id="id_productos" multiple required>
    {% for producto in productos %}
      <option value="{{ producto.id }}">{{ producto.descripcionProducto }} - Precio: {{ producto.precioProducto }}</option>
    {% endfor %}
  </select>

  <!-- Cantidades -->
  <label for="id_cantidades">Cantidades:</label>
  <input type="number" name="cantidades" id="id_cantidades" required>

  <!-- Forma de pago -->
  <label for="id_forma_pago">Forma de pago:</label>
  <input type="text" name="forma_pago" id="id_forma_pago" required>

  <button type="submit">Realizar Pedido</button>
</form>
