{% extends "admin/change_list.html" %}

{% block content %}
  <h1>Lista de Productos</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <!-- Agrega más columnas según tus necesidades -->
      </tr>
    </thead>
    <tbody>
      {% for producto in result_list %}
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
          <!-- Agrega más columnas según tus necesidades -->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
